{% extends 'layout.html' %}

{% block content %}


 <div >
	 <a style="display: inline-block;" class="btn6" href="/allTalk" ><i class="fas fa-arrow-left" style="color:#d2d2d2;padding-left:15px;"></i> </a>
  <div style="font-weight: bold;
    font-size: 0.7em;
    margin: 18px;
    display: inline-block;">{{room.title}}</div>
	 <form action="/post/roomAll/{{room.id}}/getout" method="post" style="display:inline-block;padding-right:5px;float:right;margin-top:5px;padding-top:10px;padding-bottom:10px;position:relative;">
		 <button class="btn8" type="submit">
			<i class="fas fa-sign-out-alt"></i>
		 </button>
	 </form>
   {% if room.owner ===user %}
	   <form action="/allTalk" class="deleteRoom" method="get" style="display:inline-block;margin-top:5px;float:right;padding-right:10px;padding-top:10px;padding-bottom:10px;position:relative;">
		 <button class="btn8" type="submit">
			<i class="far fa-trash-alt"></i>
		 </button>
	 </form>
   {% endif %}

</div>
<fieldset class="talkBG">
    <div class="chat-list" id="showFoot">
      {% for chat in chats %}
        {% if chat.user === user %}
          <div class="mine">
            <!--iv ><img src="/{{chat.User.profile}}" style="border:none; width:30px; border-radius:50px;">{{chat.user}}</div>-->
            {% if chat.img %}
              <img onclick="location.href='/imageView/img/{{chat.img}}';" src="/img/{{chat.img}}">
            {% else %}
              <div style="">{{chat.chat}}</div>
            {% endif %}
          </div>
        {% elif chat.user === 'system' %}
          <div class="system">
            <div>{{chat.chat}}</div>
          </div>
        {% else %}
          <div class="other" >
            <div><img onclick="location.href='/imageView/{{chat.User.profile}}';" src="/{{chat.User.profile}}" style="border:none; width:30px;height:30px; border-radius:50px;"> {{chat.user}} <i class="far fa-paper-plane btn8"style="background: linear-gradient( 
45deg
 , #FF9E9B,#9DF0E1,transparent);
    border-radius: 10px;
    margin-left: 15px;
    padding: 1%;"></i></div>
            {% if chat.img %}
              <img onclick="location.href='/imageView/img/{{chat.img}}';" src="/img/{{chat.img}}">
            {% else %}
              <div>{{chat.chat}}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>
  <form action="/chat" class="chat-form" method="post" enctype="multipart/form-data" style='margin-top:10px; text-align:center;'>
    <label for="img"><i class="far fa-images fa-2x" style="color:skyblue;"></i></label>
    <input type="file" id="img" name="img" accept="image/*">
    <input style="width:70%; border:1px solid #d2d2d2;" type="text" id="chat" name="chat">
    <button type="submit" class="btn6" style="width:10%;"><i class="far fa-paper-plane fa-2x" style="color:#828282"></i></button>
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
	 
const socket = io.connect('https://schoolboard-raidd.run.goorm.io/chatAll', {
      path: '/socket.io',
    });
    socket.on('join', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('.chat-list').appendChild(div);
		/*document.getElementById('showFoot').scrollTop = document.getElementById('showFoot').scrollHeight;*/
    });
    socket.on('exit', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('.chat-list').appendChild(div);
		/*document.getElementById('showFoot').scrollTop = document.getElementById('showFoot').scrollHeight;*/
    });
    socket.on('chat', function (data) {
      const div = document.createElement('div');
      if (data.user === '{{user}}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
		  const name = document.createElement('div');
      name.innerHTML =`<img onclick="location.href='/imageView/${data.User.profile}';" src="/${data.User.profile}" style="border:none; width:30px;height:30px; border-radius:50px;">` + data.user+ `<i class="far fa-paper-plane btn8"style="background: linear-gradient( 
45deg
 , #FF9E9B,#9DF0E1,transparent);
    border-radius: 10px;
    margin-left: 15px;
    padding: 1%;"></i>`;
      div.appendChild(name);
      
      }
      if (data.chat) {
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      } else {
        const img = document.createElement('img');
        img.src = '/img/' + data.img;
		img.addEventListener('click',()=>{
			location.href=`/imageView/img/${data.img}`;
		},false);
        div.appendChild(img);
      }
      document.querySelector('.chat-list').appendChild(div);
	  if(document.getElementById('showFoot').scrollTop +1200 > document.getElementById('showFoot').scrollHeight){
	      document.getElementById('showFoot').scrollTop = document.getElementById('showFoot').scrollHeight;	
	  }
    });
	  
    document.querySelector('.chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        axios.post('/post/roomAll/{{room.id}}/chat', {
          chat: this.chat.value,
        })
          .then(() => {
            e.target.chat.value = '';
          })
          .catch((err) => {
            console.error(err);
          });
      }
    });
	if(document.querySelector('.deleteRoom')){
	document.querySelector('.deleteRoom').addEventListener('click', function (e) {
		axios.delete('/roomAll/{{room.id}}');
	});
	}
    document.querySelector('#img').addEventListener('change', async function (e) {
      console.log(e.target.files);
      const formData = new FormData();
      formData.append('img', e.target.files[0]);
      axios.post('/post/roomAll/{{room.id}}/img', formData)
        .then(() => {
          e.target.file = null;
		  location.href="";
        })
        .catch((err) => {
          console.error(err);
        });
    });
	

  </script>
{% endblock %}
