{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>	
    <a class="ax" href="/alarm"><i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px 0px 0px;"></i></a>
	<a class="ax" href="/myRoom"><i class="far fa-paper-plane"style=" vertical-align: middle; color: black; float: right; padding: 20px ;"></i></a>
</header>

<fieldset style="    box-sizing: border-box; width:100%; text-align:center; border:none; height:60%;" class="makeBG">
     <legend style="padding-top:10%;">채팅방 생성</legend>
    <form action="/post/allMake" method="post">
       <div>
        <input style="width:60%; border-radius:4px; padding-left: 5px;
    padding-top: 5px;
    height: 36px;
    border: 1px solid #ffdbde;
    margin-bottom: 10px;" maxlength="15" type="text" name="title" placeholder="방 제목(최대 15글자)" required autofocus>
      </div>
	  <div>
		<input style="width:60%; height:20px; border:1px solid #ffdbde; margin-bottom:10px;" maxlength="15" type="password" name="password" placeholder="비밀번호(없으면 공개방)">  
	  </div>
      <div>
        <button class="btn8" style="background-color:white; font-size:1.2em;" type="submit"><i class="fas fa-dice-d6 fa-lg"></i> 생성</button>
      </div>
    </form>
  </fieldset>



<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2" style="color:#FF5675">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %} {% endblock %}