{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>
    <i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px;"></i>
</header>

학교별 실시간 접속자 표시
1. 랜덤채팅 (같은학교 , 선택학교 , 성별 구분X)
2. 마니또 (같은학교, 선택학교, 남자->여자 ,여자 ->남자)
3. 단체톡방 (학교별로 체팅방 만들수있게)

<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %} {% endblock %}