{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>	
    <a class="ax" href="/alarm"><i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px 0px 0px;"></i></a>
	<a class="ax" href="/myRoom"><i class="far fa-paper-plane"style=" vertical-align: middle; color: black; float: right; padding: 20px ;"></i></a>
</header>

<form action="/post/manito/school/search" method="post">
    <select name="region" class="btn8" style="width: 20%; margin-left: 5%; border: none;" required>
        <option value="SEOUL">서울</option>
        <option value="BUSAN">부산</option>
        <option value="DAEGU">대구</option>
        <option value="INCHOEN">인천</option>
        <option value="GWANGJU">광주</option>
        <option value="DAEJEON">대전</option>
        <option value="ULSAN">울산</option>
        <option value="SEJONG">세종</option>
        <option value="GYEONGGI">경기</option>
        <option value="GANGWON">강원</option>
        <option value="CHUNGBUK">충청북도</option>
        <option value="CHUNKNAM	">충청남도</option>
        <option value="JEONBUK">전라북도</option>
        <option value="JEONNAM">전라남도</option>
        <option value="GYEONGBUK">경상북도</option>
        <option value="GYEONGNAM">경상남도</option>
        <option value="JEJU">제주</option>
    </select>
    <input
        style="
            width: 50%;
            border: none;
            border-bottom: 1px solid #828282;
            background-color: #fafafa;
            height: 35px;
        "
        name="schoolname"
        placeholder="학교를 검색해보세요."
        maxlength="30"
        required
        autofocus
    />
    <button class="btn8" type="submit" style="width: 20%; font-size: 1em; border: none;">
        <i class="fas fa-search-location"></i>검색
    </button>
</form>
{% for find in result %}
<form action="/post/manito/{{find.name}}" method="post">
    <input type="hidden" name="code" value="{{find.code}}" />
   <div style="
			   text-align:center;
			   font-size:0.9em;
            width: 100%;
            border: none;
            border-bottom: 0.5px solid #c8c8c8;
            border-top: 0.5px solid #c8c8c8;
            background-color: white;
            padding: 15px;
        ">
		<div>
            {{find.name}}
        </div>
        <div>
            {{find.addr}}
        </div>
	</div>
	
	<div style="text-align:center;">
                <input id="man" type="radio" name="sexual" value="man" onclick="manClick()"/>
                <span class="o">남자</span>
                <input id="woman" type="radio" name="sexual" value="woman" />
                <span class="w">여자</span>
    <button class="btn8"
        type="submit" style="padding:1%;background: linear-gradient( 
45deg, #FF9E9B,#9DF0E1,transparent);"
    > <i class="far fa-paper-plane fa-lg" ></i>
    </button>
	</div>
           
</form>
{% endfor %}

<div class="push"></div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color: #ff5675;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2" style="color: #ff5675;">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %} 
<script>
	function manClick(){
		console.log(1);
		alert(1);
	}
	var womanClick=()=>{
		
	};
	
</script>
{% endblock %}