{% extends 'layout.html' %}

{% block content %}
<div style="    background-color: pink;
    padding-bottom: 10%;">
<span style="position:relative;top: 20px; font-size:1.2em; font-weight:bold;padding:20px;">개인 채팅</span>
<button onclick="location.href='/myRoom2'" id="chatChange" class="btn8" style="position: relative;
    top: 20px;
    font-size: 0.5em;
    padding: 10px 5px 10px 5px;">
	<i class="fas fa-sync-alt"></i> 마니또 채팅
</button>
</div>

<fieldset style="border:none; border-top:1px solid #fcebef;background-color: #f7f7f7;">
  <legend style="font-size:0.8em; color:#FF9E9B;">채팅 목록</legend>
  <table  id="roomList" style="table-layout: fixed; border:none;">
	 
    {% for room in individualRoom %}
      <tr  style="width:100%;height:60px;background:#f5f5da;" data-id="{{room.id}}" class="roomCall">
        <td style="width:25%;     text-align: left;
    padding-left: 2%;"><img onclick="location.href='/imageView/{{room.User.profile}}';" src="{{room.User.profile}}" style="width:20px;height:20px; border-radius:50px;"> {{room.User.nick}}</td>
		  <td style="width:60%;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">{{room.MyChat.chat}}</td>
		  <td style="width:15%;">
          <button 
			style="background-color: inherit;"
            data-id="{{room.id}}"
            class="join-btn"
          ><i data-id="{{room.id}}" class="join-btn fas fa-location-arrow fa-lg" style="margin:10px; color:#FF9E9B;"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="error-message">{{error}}</div>
</fieldset>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('https://schoolboard-raidd.run.goorm.io/myRoom', { // 네임스페이스
    path: '/socket.io',
  });
  socket.on('removeRoom', function (data) { // 방 제거 이벤트 시 id가 일치하는 방 제거
    document.querySelectorAll('tbody tr').forEach(function (tr) {
      if (tr.dataset.id === data) {
        tr.parentNode.removeChild(tr);
      }
    });
  });
  function addBtnEvent(e) { // 방 입장 클릭 시
      location.href = '/MyRoom/' + e.target.dataset.id;
  }
  document.querySelectorAll('.join-btn').forEach(function (btn) {
    btn.addEventListener('click', addBtnEvent);
  });
</script>

<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2" style="color:#FF5675">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert(new URL(location.href).searchParams.get('error'));
    }
  };
</script>
{% endblock %}