{% extends 'layout.html' %} {% block content %}
<img src="/manito.svg" id ="loginImg">
<form id="loginForm" action="/auth/join" method="post">
	<div style="text-align:center">
    <div class="input_group">
        <input id="email" type="email" name="email"  placeholder="이메일" required autofocus />
    </div>
    <p></p>
    <div class="input_group">
        <input id="password" type="password" name="password" placeholder="비밀번호" required />
    </div>
    <p></p>
    <div class="input_group">
        <input id="nick" type="nick" name="nick" placeholder="사용할 닉네임" required />
    </div>
    <p></p>
	<label for="man">
	<input id="man" type="radio" name="sexual" value="man"  />
		<span id="o">남자</span>
	</label>
	<label for="woman">
	<input id="woman" type="radio" name="sexual" value="woman"  />
		<span id="w">여자</span>
	</label>
		
    <p></p>
    <div class="input_group">
        <input id="schoolName" type="schoolName" name="schoolName"  placeholder="학교 선택" required />
    </div>
		<p>
		</p>
    <button id="joinBtn" type="submit" class="btn">가입</button>
	</div>
</form>
{% endblock %}