<!DOCTYPE html>
<html>
    <head>
        <title>마니또</title>
        <meta name="viewport" content="width=device-width,user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <link rel="stylesheet" href="/main.css" />
		<script src="https://kit.fontawesome.com/f8e413c7a2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
			{% block content %} 
			{% endblock %} 
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            window.onload = () => {
                if (new URL(location.href).searchParams.get('loginError')) {
                    alert(new URL(location.href).searchParams.get('loginError'));
                }
				if (new URL(location.href).searchParams.get('nickError')) {
					console.log(2);
                    alert(new URL(location.href).searchParams.get('nickError'));
                }
            };
        </script>
        {% block script %} {% endblock %}
    </body>
</html>