{% extends 'main.html' %} {% block login %}
<form id="loginForm" action="/auth/login" method="post">
    <div class="input_group">
        <label for="ownId">아이디: </label>
        <input id="ownId" type="ownId" name="ownId" required autofocus />
    </div>
    <p></p>
    <div class="input_group">
        <label for="password">비밀번호: </label>
        <input id="password" type="password" name="password" required />
    </div>
    <p></p>
    <a id="lose" href="/lose">비밀번호를 잃어버리셨나요?</a>
    <br /><br />
    <button id="loginBtn" type="submit" class="btn">로그인</button>
</form>
{% endblock %}