{% extends 'layout.html' %} {% block content %}
	<img src="/manito.svg" id ="loginImg">
<form id="loginForm" action="/auth/login" method="post">
	<div style="text-align:center";>
		    <div class="input_group">
        <input id="email" type="email" name="email" placeholder="이메일" required autofocus />
    </div>
    <p></p>
    <div class="input_group">
        <input id="password" type="password" name="password" placeholder="비밀번호" required />
    </div>
    <p></p>
    <a id="lose" href="/lose">비밀번호를 잃어버리셨나요?</a>
    <br /><br />
    <button id="loginBtn" type="submit" class="btn">로그인</button>
			</div>
</form>
{% endblock %}
{% block script %} {% endblock %}