{% extends 'layout.html' %} {% block content %}
{% for comment in comments %}
	 <div class="write-content comment">
		 <div class="writenHead">
		<img src="/{{comment.User.profile}}" style="width:30px; height:30px;border-radius:50px;">	
		<span >{{comment.User.nick}}</span>
				{% if comment.UserId === user.id %}
			<form action="/delete/comment/{{comment.id}}" method="post" style="display:inline; position:relative; float:right; right:40px;">
				<input type="hidden" name="Pid" value="{{posts.id}}">
				<button class="btn7" type="submit" style="width:20%;font-size:1em; border:none;">
						<i class="fas fa-trash-alt"></i>
				</button>
				</form>
				
			{% endif %}
			{% if comment.UserId !== user.id %}
				<form action="" method="" style="display:inline; position:relative; float:right; right:40px; ">
					<button type="submit" class="btn7" style="font-size:1em; border:none;  width: 20%">
						<i class="far fa-heart"></i>메시지
				</button>
				</form>
			{% endif %}
		 		
		 
		 <div class="writenTime">			
		{{comment.createdAt.getFullYear()}}년
		{{comment.createdAt.getMonth()+1}}월
		{{comment.createdAt.getDate()}}일
		{{comment.createdAt.getHours()+9}}시
		{{comment.createdAt.getMinutes()}}분
		{{comment.createdAt.getSeconds()}}초
		</div>
		 <div class="write-content">
			{{comment.content}}	
		</div>
		<form action="/post/comment/like/{{posts.id}}" method="post" style="display:inline;">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#6EDCDC;" type="submit" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{comment.like}}
		</button>
		</form>
		<form action="/post/comment/dislike/{{posts.id}}" method="post" style="display:inline;">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#FF4646;" type="submit">
		<i class="fas fa-thumbs-down"></i>
		{{comment.dislike}}
		</button>
		</form>
			
		 </div>
	</div>
{% endfor %}













<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2" style="color:#FF5675" >
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2"  >
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %} {% endblock %}