{% extends 'layout.html' %} {% block content %}
<header style="margin-bottom:11%">
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>
    <i
        class="far fa-bell"
        style="vertical-align: middle; color: black; float: right; padding: 20px 20px;"
    ></i>
</header>
            <a
                href="/auth/logout"
                class="btn6 ax" 
                style="color:#828282;margin-left:15px;"
            >
				<i class="fas fa-sign-out-alt" style="color:#FFB2AF;" ></i>
                로그아웃
            </a>

    <div style="text-align:center;background-color:#fcfcfc;margin-bottom: 20px;">
        <img class="imgBG"
            src="/{{user.profile}}"
            style="
				   border:2px solid #fff2f7;
				   height:50px;
                width: 50px;
                border-radius: 50px;
                margin: 5px;
                background-color: white;
                padding: 20px;
            "
        />
		<div style="margin-bottom: 5px; font-size:0.8em;">
            <span style="color: #828282; font-weight: bold;">
                닉네임 -
            </span>
            <span style="color: #282828; font-weight: bold; font-size: 1.1em;">{{user.nick}} </span>
        </div>
		<div style="width: 48%;
    display: inline-block;
    padding-bottom: 10px;">
			<form action="/auth/overlap/change" method="post" style="border-right: 1px solid #b4b4b4;">
			<input type="text" name="nick" maxlength="8" style="border-radius: 10px;
    width: 55%;
    height: 37px;
    border: 1px solid #d2d2d2;" placeholder="변경할 닉네임" required>
            <button
			    class="btn8"
                type="submit"
                style="
                    height: 40px;
    border-radius: 10px;
    background-color: white;
                "
            >
				<i class="fab fa-modx" ></i> 변경
            </button>
        </form>
		</div>
		<div style="    width: 48%;
    display: inline-block;">
					<label  for="img" style="
                   display: inline-block;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: #828282;
    background-color: white;
    padding-top: 10px;
    height: 30px;
                "><i class="fas fa-camera-retro" style="color:black;"></i> 프로필사진 변경</label>
    	    <input id="img"  style="text-align:center;width:0%;" type="file" accept="image/*"  />
		</div>

    </div>

	<div>
            <button onclick="location.href='/mypost'"
                type="submit"
                style="
					 background-color:white;
					 text-align:left;
                    height: 45px;
                    border: none;
                    width: 100%;
                    margin: 0 5px 0px 5px;
                "
            >
                <i class="far fa-clipboard"></i> 내가쓴글
            </button>
            <button onclick="location.href='/mycomment'"
                style="
					 background-color:white;
					   text-align:left;
                    height: 45px;
                    border: none;
                    width: 100%;
                    margin: 0 5px 5px 5px;
                "
            >
                <i class="far fa-comment"></i> 내가쓴 댓글
            </button>
            <button
                onclick="removeCheck()"
                style="
					 background-color:white;
					   text-align:left;
					color:#FF4646;
					font-size:0.8em;
                    height: 45px;
                    border: none;
                    width: 100%;
                    margin: 5px;
                "
            >
                <i class="fas fa-hourglass-end"></i> 회원탈퇴
            </button>
	</div>
<div style="font-size: 0.8em; margin-top: 10px;color:#828282;">	
	<div> 앱버전 - v1.0.0 </div>
    <div>개발자 github - <a class="ax" href="https://github.com/rnjsrnrdnjs">github.com/rnjsrnrdnjs</a></div>
    <div>학급정보 api 오픈소스 - <a class="ax" href="https://github.com/nnnlog/neis"> nnnlog</a></div>
    <div>그림 제공 - <a class="ax" href="https://pixabay.com/"> 픽사베이</a></div>
    <div>아이콘 제공1 - <a class="ax" href="https://fontawesome.com/"> 폰트어썸</a></div>
    <div>
        아이콘 제작자2 <a class="ax" href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a class="ax" href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div style="margin-bottom:5%;">
        아이콘 제작자3
        <a class="ax" href="https://www.flaticon.com/kr/authors/smashicons" title="Smashicons">Smashicons</a>
        from <a class="ax" href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a>
    </div>
	<!--
	    <div style="text-align: center;font-size:1.3em;color:#828282;background-color:#fcfcfc;">앱 정보</div>
	<div style="text-align:center;color:#828282;">
	    <div>1인개발자로 처음부터 끝까지 혼자 만든 앱입니다..!!</div>
	    <div>처음 만든 앱이라 오류가 생길시 연락바랍니다.</div>
	    <div>사용해주셔서 진심으로 감사합니다.</div>
	    <div>잘부탁드립니다.</div>
	</div>
	-->
</div>

<div class="push"></div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4;"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #ff5675;"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a href="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2" style="color: #ff5675;">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %}
<script>
    function removeCheck() {
		const chk=confirm('정말 탈퇴하시겠습니까?');
		if(chk==true){
        	axios.delete('/auth/destroy');
        	location.href = '/';	
		}
		else{
			return false;
		}
    }
	if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/profile/img', formData)
          .then((res) => {
			location.reload();	
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
	
</script>
{% endblock %}