{% extends 'layout.html' %} {% block content %}
		<div class="concave">	
			<div class="menu">
				
				<h1 id="title">Gomoku</h1>
				<h2 id="alert"></h2>
				<h3 class="welcome">Hello, Welcome in the gomoku multiplayer game site!</h3>
					
					<div style="display:inline-block; float:right; padding-top:15px;position:relative;
    width: 140px;">
		접속인원 : 
		<span id="userCount"></span>
	 </div> 
					<button class="btn8" id="findMatch" type="submit" style="display:inline-block; float:right;margin-top:5px;padding-top:10px;padding-bottom:10px;position:relative;
    width: 80px;">
			 시작하기
		 </button>
	 	 <button class="btn8" id="cancelMatch" type="submit" style="display:none; float:right; margin-top:5px;padding-top:10px;padding-bottom:10px;position:relative;
    width: 80px;">
			 취소하기
		 </button>
	 	 <button class="btn8" id="reMatch" type="submit" style="display:none; float:right;margin-top:5px;padding-top:10px;padding-bottom:10px;position:relative;
    width: 80px;">
			 다시하기
		 </button>
		<div id="name" style="display:none;">{{user}}, {{user.nick}}</div>
	</div>
			
			
			<div class="gameBoard">
				<h2 id="userHello"></h2>
				<h3 id="turn"></h3>
				<div id="color"></div>
				<div class="center"></div>
				<div id="time">Not your turn!</div>
				<button class="goBack" onclick="window.location.reload()">Go back</button>
			</div>
	</div>

{% endblock %} 
{% block script %} 
<script>


</script>
		<!--<script src="../node_modules/jquery/dist/jquery.min.js"></script>-->
		<script src="/socket.io/socket.io.js"></script>
		<script src="/concaveScript/player.js"></script>
		<script src="/concaveScript/game.js"></script>
		<script src="/concaveScript/room.js"></script>
{% endblock %}