html,
body {
	padding-bottom: 80vh;
    margin: 0;
    height: 100%;
}
.btn {
    display: inline-block;
    padding: 0 5 px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FF98A3;
    border: 1px solid #FF5675;
    color: white;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    font-size: 15px;
	box-shadow: 2px 2px 2px 2px #FFD9E4;
}
.btn2{
	text-decoration: none;
    cursor: pointer;
    color: #828282;
    font-size: 0.5em;
}
.btn3{
	text-decoration: none;
    cursor: pointer;
    color: #a79c8e;
}
input [type='text'],
input[type='email'],
input[type='password'],
input[type='ownId'],
input[type='nick'],
input[type='schoolName'],
textarea,
input[type='search'] {
    border-radius: 4px;
    height: 17px;
    padding: 5px;
    border: 3px solid #969696;
}
input[type="radio"]{
	display:none;
}
input[type="radio"]+ span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
}
input[type="radio"]:checked + span#o{
  border:1px solid #23a3a7;
  background:#32B8FF;
  color:#fff;
}
input[type="radio"]:checked + span#w{
  border:1px solid #23a3a7;
  background:#FF848F;
  color:#fff;
}
a{text-decoration : none;}

.container {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    width: 150%;
    display: inline-block;
}
.input-group input {
    width: 50%;
}
#loginImg{
	width:100%;
	height:30%;
}
#loadFont{
	color:#FF7A85;
	font-size:3em;
	text-shadow: 3px 6px 3px #FFD9E4;
	padding:5px;
}
#loadFont2{
	color:#FF7A85;
	font-size:1em;
	text-shadow: 2px 4px 2px #FFD9E4;
	padding:5px;
}
header{
	width:100%;
	height:8%;
	margin-bottom:2%;
  background: white;
  border-bottom:2px solid #FFF0F5;
}
footer{
  position: fixed;
  top: 90%;
  left: 0;
  right: 0;
	height:10%;
  background: white;
  border-top:2px solid #FFF0F5;
  box-shadow: 1px 1px 0px 0px #FFDCE1 inset;
  display:block;
}
@media screen and (min-width: 800px) {
    footer {
        width: 800px;
        margin: 0 auto;
    }
}
#hdImg{
	width:30%;
	display: inline;
	float:left;
}
#hdFont{
	color:#FF7A85;
	font-size:1.5em;
	float:left;
	padding:3vh 0px 0px 0px;
	font-weight:bold;
	text-shadow: 3px 6px 3px #FFD9E4;
	display: inline;
}
.footerTd{
	width:20vw; 
	text-align:center;
}
.big{
	border-radius:20px;
	border:2px solid #FABCBC;
	border-right:3px solid #FABCBC;
	border-bottom:3px solid #FABCBC;
	margin: 0% 0% 3vh 10%;
	width:80%;
	box-shadow: 8px 4px 4px #6e6e6e;
}
.small{
	font-weight: 550;
	font-size:0.8em;
	width:75vw;
	height:5vh;
}
.f1{
	background-size:100% 100%;
	background-image:url(/f1.svg);
}
.f2{
	background-size:100% 100%;
	background-image:url(/f2.svg);
}
.f3{
	background-size:100% 100%;
	background-image:url(/f3.svg);
}
.f4{
	background-size:100% 100%;
	background-image:url(/f4.svg);
}
.f5{
	background-size:100% 100%;
	background-image:url(/f5.svg);
}
.f6{
	background-size:100% 100%;
	background-image:url(/f6.svg);
}

