html,
body {
    margin: 0;
    height: 100%;
	box-sizing: border-box;
	
}
.btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FF98A3;
    border: 1px solid #FF5675;
    color: white;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    font-size: 15px;
	box-shadow: 2px 2px 2px 2px #FFD9E4;
	border-radius:10px;
}
.btn2{
	text-decoration: none;
    cursor: pointer;
    color: #828282;
    font-size: 0.5em;
}
.btn7{
	font-size: 1em; font-weight:bold; 
	background-color:white;
	color:#FF5675;
	text-decoration: none;
    cursor: pointer;
	border:1px solid #282828;
}
.btn3{
	padding:6%;
	text-decoration: none;
    cursor: pointer;
    color: #aa9b8e;
}
.btn4{
	padding:6%;
	text-decoration: none;
    cursor: pointer;
    color: #828282;
	text-align:left;
}
.btn5{
	padding:2%;
	text-decoration: none;
    cursor: pointer;
	border:0;outline:0;
	border-radius:50%;
}
.btn6{
	background-color:white;
	border:0px;
	padding:3%;
	text-decoration: none;
    cursor: pointer;
}
input [type='text'],
input[type='email'],
input[type='password'],
input[type='ownId'],
input[type='nick'],
input[type='schoolName'],
textarea,
input[type='search'] {
    border-radius: 4px;
    height: 32px;
    padding: 5px;
    border: 3px solid #969696;
}
input[type="radio"]{
	display:none;
}
input[type="radio"]+ span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:35px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
}
input[type="radio"]:checked + span#o{
  border:1px solid #23a3a7;
  background:#32B8FF;
  color:#fff;
}
input[type="radio"]:checked + span#w{
  border:1px solid #23a3a7;
  background:#FF848F;
  color:#fff;
}
a{text-decoration : none;}
.ax { color: inherit; text-decoration: none;}
.ax:visited { color: inherit; text-decoration: none;}
.ax:hover {  color: inherit; text-decoration: none}
.container {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    width: 150%;
    display: inline-block;
}
.input-group input {
    width: 50%;
}
#loginImg{
	width:100%;
	height:30%;
}
#loadFont{
	color:#FF7A85;
	font-size:3em;
	text-shadow: 3px 6px 3px #FFD9E4;
	padding:5px;
}
#loadFont2{
	color:#FF7A85;
	font-size:1em;
	text-shadow: 2px 4px 2px #FFD9E4;
	padding:5px;
}
header{
	width:100%;
	height:8%;
	margin-bottom:2%;
  background: white;
  border-bottom:2px solid #FFF0F5;
}
.push{
	height:10%;
}
footer{
  width:inherit;
  position:fixed;
  bottom: 0%;
  height:10%;
  background: white;
  border-top:2px solid #FFF0F5;
  box-shadow: 1px 1px 0px 0px #FFDCE1 inset;
}
#hdImg{
	width:30%;
	display: inline;
	float:left;
}
#hdFont{
	color:#FF7A85;
	font-size:1.5em;
	float:left;
	padding:3vh 0px 0px 0px;
	font-weight:bold;
	text-shadow: 3px 6px 3px #FFD9E4;
	display: inline;
}
.footerTd{
	width:20vw; 
	text-align:center;
}
.big{
	border-radius:20px;
	border:1px solid #FABCBC;
	border-right:2px solid #FABCBC;
	border-bottom:2px solid #FABCBC;
	margin: 0% 0% 3vh 10%;
	width:80%;
	box-shadow: 6px 3px 3px #6e6e6e;
}
.small{
	font-weight: 550;
	font-size:0.8em;
	width:75vw;
	height:5vh;
}
.title{
	color:#323232;
	font-size:1.2em;
	font-weight:bold;
	text-shadow:2px 1px 1px #FAB7B7;
}
.boardIcon{
	color:#ACCCC4;
	width:11vw;
	text-align:center;
}
.boardFont{
	text-align:center;
	font-size:0.7em;
	color:#C4BCB8;
}
.write-img{text-align:center;}
.write-img img{
	width:100%;
}
.writen{
	box-sizing: border-box;
	width:100%;
	border-top:1px solid #c8c8c8;
	border-bottom:0.5px solid #c8c8c8;
}
.writenHead{
	width:100%;
	font-weight:bold;
}
.writenTime{
	width:100%;
	font-size:0.5em;
	color:#464646;
	padding-bottom:10px;
	border-radius:0px 0px 8px 8px;
}
.imgBG{
	background-size:100% 100%;
}
.writeBG{
	background-color:#fafffd;
	background-size:100% 100%;
	background-image:url(/cherry.svg);
	border-bottom:1px solid #c8c8c8;
	border-radius:0px 0px 10px 10px;
}
.boardBG{
	background-size:100% 100%;
	/*background-image:url(/boardBG.svg);*/
	border-top:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	border-radius:10px;
}
.settingBG{
	background-size:100% 100%;
	background-image:url(/settingBG.svg);
	/*border-radius:10px;*/
}
.write-none{
	width:100vw;
	height:70vh;
	background-size:100% 100%;
	background-image:url(tree.svg);
	text-align:center;
	color:#fd999a;
}
.write-title{
	margin:5px;
	font-size:1.2em;
	font-weight:bold;
}
.write-img{
}
.write-content{
	font-size:0.8em;
	padding:10px;
	word-break:break-all;
}

#write{
	 display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #FF98A3;
    border: 1px solid #FF5675;
    color: white;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    font-size: 15px;
	box-shadow: 2px 2px 2px 2px #FFD9E4;
	border-radius:10px;
}
#t1{
	border:none;
	width:100%;
}
#t1:focus {outline:none;}
#t2{
	width:100%;
	height:35vh;
	border:none;
}
#t2:focus {outline:none;}
input#img{
	opacity:0;
}
#Wcomment{
	margin-top:5px;
	border:1px solid black;
	border-radius:10px;
	width:65%;
	height:50px;
}
.comment{
	border-top:1px solid #c8c8c8;
	border-bottom:0.5px solid #c8c8c8;
	
}
.bar{width:110px; height:25px;font-family: "Font Awesome 5 Free"; font-weight:500; }
.bar option{font-family: "Font Awesome 5 Free"; font-weight:900;}




.mine { text-align: right; }
.system { text-align: center; }
.mine img, .other img {
  max-width: 300px;
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
}
.mine div:first-child, .other div:first-child { font-size: 12px; }
.mine div:last-child, .other div:last-child {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
  max-width: 300px;
}
#exit-btn { position: absolute; top: 20px; right: 20px; }
#chat-list { height: 500px; overflow: auto; padding: 5px; }
#chat-form { text-align: right; }
label[for='gif'], #chat, #chat-form [type='submit'] {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}
label[for='gif'] { cursor: pointer; padding: 5px; }
#gif { display: none; }
/*
table, table th, table td {
  text-align: center;
  border: 1px solid silver;
  border-collapse: collapse;
}
*/
