{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        마니또
    </div>
    <i class="far fa-bell" style="color: black; float: right; padding: 20px 20px;"></i>
</header>


	<!-- 학교 이름 -->
	<div id="schoolname">
		{{myschool.name}}
	</div>
12312312312312
	<table class="big f1">
		<thead>
			<tr>
				<th>게시판 모음 </th> <th><i class="fas fa-arrow-right" style="color: #f8ecc9"> 이동</i> </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					
					<td ><a href="/board" class="btn3">자유 게시판 </a></td> <td> 11 </td>
				</tr>
				<tr class="small">
					<td>고민 게시판 </td> <td> 22</td>
				</tr>
				<tr class="small">
					<td>공부 게시판 </td> <td> 333</td>
				</tr>
				<tr class="small">
					<td>짝사랑 게시판 </td> <td> </td>
				</tr>
				<tr class="small">
					<td>음식 게시판 </td> <td> </td>
				</tr>
				<tr class="small">
					<td>뷰티 게시판 </td> <td></td>
				</tr>
				<tr class="small">
					<td>패션 게시판 </td> <td> </td>
				</tr>
				<tr class="small">
					<td>음악 게시판 </td> <td> </td>
				</tr>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
		</tbody>
	</table>
</a>
	<table class="big f2">
		<thead>
			<tr>
				<th>실시간 인기글 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
		</tbody>
	</table>

<table class="big f3">
		<thead>
			<tr>
				<th>시험 일정 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
		</tbody>
	</table>
<table class="big f4">
		<thead>
			<tr>
				<th>주변 맛집 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
		</tbody>
	</table>
<table class="big f5">
		<thead>
			<tr>
				<th>중고 장터 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
			
		</tbody>
	</table>
<table class="big f6">
		<thead>
			<tr>
				<th>이벤트 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>뒷담 게시판 </td> <td> </td>
				</tr>
		</tbody>
	<tr><td>1</td></tr>
			<tr><td>1</td></tr>
			<tr><td>1</td></tr>
			<tr><td>1</td></tr>
			<tr><td>1</td></tr>
			<tr><td>1</td></tr>
			<tr><td>1</td></tr>
	</table>
	



<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>

{% endblock %} {% block script %} {% endblock %}