{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        마니또
    </div>
    <i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px;"></i>
</header>


	<!-- 학교 이름 -->
	<div class="title">
		{{myschool.name}}<img src="/tree.svg" style="width:50px;">
	</div>
	<table class="big f1">
		<thead>
			<tr>
				<th>게시판 모음 </th> <th><a href="/board/free" class="btn3"><i class="fas fa-arrow-right" style="color: #f5debb"> 이동</i> </a></th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					
					<td ><a href="/board/free" class="btn3" >자유 게시판 </a></td> <td> <a href="/board/free" class="btn4">
					{% if free %} 
						{% if free.length>10 %}
						{{worry.content.substr(0,10)}}...
						{% else %}
						{{free.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a> </td>
				</tr>
				<tr class="small">
					<td><a href="/board/worry" class="btn3">고민 게시판</a> </td> <td><a href="/board/worry" class="btn4"> {% if worry %} 
						{% if worry.length>10 %}
						{{wory.content.substr(0,10)}}...
						{% else %}
						{{worry.content}}
						{% endif %}
										{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/study" class="btn3">공부 게시판</a> </td> <td> <a href="/board/study" class="btn4">					
					{% if study %} 
						{% if study.length>10 %}
						{{study.content.substr(0,10)}}...
						{% else %}
						{{study.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}

					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/love" class="btn3">짝사랑 게시판</a> </td> <td><a href="/board/love" class="btn4">
					{% if love %} 
						{% if love.length>10 %}
						{{love.content.substr(0,10)}}...
						{% else %}
						{{love.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/food" class="btn3">음식 게시판</a> </td> <td> <a href="/board/food" class="btn4">
					{% if food %} 
						{% if food.length>10 %}
						{{food.content.substr(0,10)}}...
						{% else %}
						{{food.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/beauty" class="btn3">뷰티 게시판</a> </td> <td><a href="/board/beauty" class="btn4">
										{% if beauty %} 
						{% if beauty.length>10 %}
						{{beauty.content.substr(0,10)}}...
						{% else %}
						{{beauty.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}

					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/fashion" class="btn3">패션 게시판</a> </td> <td><a href="/board/fashion" class="btn4">
					{% if fashion %} 
						{% if fashion.length>10 %}
						{{fashion.content.substr(0,10)}}...
						{% else %}
						{{fashion.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/music" class="btn3">음악 게시판</a> </td> <td><a href="/board/music" class="btn4"> 
					{% if music %} 
						{% if music.length>10 %}
						{{music.content.substr(0,10)}}...
						{% else %}
						{{music.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
				<tr class="small">
					<td><a href="/board/blame" class="btn3">뒷담 게시판</a> </td> <td><a href="/board/blame" class="btn4"> 
					{% if blame %} 
						{% if blame.length>10 %}
						{{blame.content.substr(0,10)}}...
						{% else %}
						{{blame.content}}
						{% endif %}
					{% else %}
					작성된 글이 없습니다.
					{% endif %}
					</a></td>
				</tr>
		</tbody>
	</table>
	<a class="ax" href="/board/hot">
	<table class="big f2">
		<thead>
			<tr>
				<th>실시간 인기글 <img src="/fire.svg" style="width:30px"></th>
			</tr>
		</thead>
		<tbody>
				{% for posts in hot %}
				<tr class="small">
					<td>
					<div class="writen">
	<div class="writenHead">
    {% if posts.User.sexual==='man' %}
		<i class="fas fa-mars btn5" style="color:blue; background-color:white;"></i>
	{% else %}
		<i class="fas fa-venus btn5" style="color:red; background-color:white;" ></i>
	{% endif %}
		&nbsp;
		{{posts.User.nick}}
		
		<button style="position:absolute; right:5%; background-color:white;border:1px solid #a79c8e; border-radius:40%;">
			<i class="fas fa-ellipsis-v"></i>
		</button>
	</div>
		<div class="writenTime">			
		{{posts.createdAt.getFullYear()}}년
		{{posts.createdAt.getMonth()+1}}월
		{{posts.createdAt.getDate()}}일
		{{posts.createdAt.getHours()+9}}시
		{{posts.createdAt.getMinutes()}}분
		{{posts.createdAt.getSeconds()}}초
		</div>
	<div class="write-title">
        {{posts.title}}
	</div>
	{% if posts.img %}
    <div class="write-img">
        <img src="{{posts.img}}"/>
    </div>
    {% endif %} 
    <div class="write-content">
        {{posts.content}}
    </div>
	<div style="text-align:center">
		<button class="btn6" style="color:#6EDCDC;" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{posts.like}}
		</button>
		<button class="btn6" style="color:#FF4646">
		<i class="fas fa-thumbs-down"></i>
		{{posts.dislike}}
		</button>
	</div>
</div>	
						</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
</a>
<table class="big f3">
		<thead>
			<tr>
				<th>시험 일정 <img src="checklist.svg" style="width:30px"></th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>준비중 </td> <td> </td>
				</tr>
		</tbody>
	</table>
<table class="big f4">
		<thead>
			<tr>
				<th>주변 맛집 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>준비중 </td> <td> </td>
				</tr>
		</tbody>
	</table>
<table class="big f6">
		<thead>
			<tr>
				<th>이벤트 </th>
			</tr>
		</thead>
		<tbody>
				<tr class="small">
					<td>준비중 </td> <td> </td>
				</tr>
		</tbody>
	
	</table>
	





<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>

{% endblock %} {% block script %} {% endblock %}