{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>
    <i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px;"></i>
</header>


<div class="title" style="margin-bottom:4%;margin-top:20px;padding-left:40px;">
		{{school.name}} <img src="/cherry.svg" style="width:30px">
</div>
<div class="boardBG" style="margin-bottom: 10px;margin-top: 20px; font-weight:bold;">
	<table style="width:100%; text-align:center;">
		<tr style="width:90%;" >
			<td  style="width:30%; padding:5px;"><a class="ax" href="/main/free"><img src="/1.png" style="width:30px;">자유</a></td> 
			<td style="width:30%;padding:5px;"><a class="ax" href="/main/worry"><img src="/2.png" style="width:30px;">고민</a></td>
			<td style="width:30%;padding:5px;"><a class="ax" href="/main/study"><img src="/3.png" style="width:30px;">공부</a></td>
		</tr>		
		<tr>
			<td style="width:30%; padding:5px;"><a class="ax" href="/main/love"><img src="/4.png" style="width:30px;">짝사랑</a></td> <td style="width:30%; padding:5px;"><a class="ax" href="/main/food"><img src="/5.png" style="width:30px;">음식</a></td><td style="width:30%; padding:5px;"><a class="ax" href="/main/beauty"><img src="/6.png" style="width:30px;">뷰티</a></td>
		</tr>
		<tr>
			<td style="width:30%; padding:5px;"><a class="ax" href="/main/fashion"><img src="/7.png" style="width:30px;">패션</a></td> <td style="width:30%; padding:5px;"><a class="ax" href="/main/music"><img src="/8.png" style="width:30px;">음악</a></td><td style="width:30%; padding:5px;"><a class="ax" href="/main/blame"><img src="/9.png" style="width:30px;" >뒷담</a></td>
		</tr>
	</table>
</div>


<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color:#FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2" style="color:#FF5675">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a href="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>

{% endblock %} 
{% block script %}
{% endblock %}