{% extends 'layout.html' %} {% block content %}

<div style="text-align:center; font-weight:bold;color:#828282; padding-bottom:5%;margin-top:5%;border-bottom:1px solid #d2d2d2;">
	공지사항 <img src="/notice.svg" style="width:20px; height:20px;">
</div>

{% for post in notice %}

	<div style="width:100%; border-bottom:1px solid #d2d2d2;    background-color: ghostwhite;">
		<div style="padding:5% 5% 0% 5%;font-weight:bold;">{{post.title}}		
		</div>
<div style="padding:5%;word-break:break-all;color:#828282">{{post.content}}
</div>
<div style="text-align:center;"><img src="{{post.img}}" style="width:80%;">
</div>
	</div>
{% endfor %}


<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color:#FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2" style="color:#FF5675">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a href="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>

{% endblock %} 
{% block script %}
<script>
	if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('img', this.files[0]);
            axios
                .post('/post/img', formData)
                .then((res) => {
                    document.getElementById('img-url').value = res.data.url;
                    document.getElementById('img-preview').src = res.data.url;
                    document.getElementById('img-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }
</script>
{% endblock %}