{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        마니또
    </div>
    <i class="far fa-bell" style="color: black; float: right; padding: 20px 20px;"></i>
</header>



<div>
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">짹짹</button>
            </div>
          </form>
        </div>



<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>





{% endblock %}
{% block script %} {% endblock %}