{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        <a href="/main" class="ax">마니또</a>
    </div>
    <i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px;"></i>
</header>


<div class="writen" style="margin-top:11%;">
	<div class="writeBG" style="display:block;">
			<div class="writenHead">
		&nbsp;
		<!-- 학교 이름 추가
		{% if posts.User.profile !== undifined %}
		<img src="blank-profile.svg" style="width:30px; border-radius:50px;">
	{% else %}
		
	{% endif %}-->
		<img onclick="location.href='/imageView/{{posts.User.profile}}';" src="/{{posts.User.profile}}" style="margin-top:5px;width:30px; height:30px; border-radius:50px;">	
		<span style=" padding-left:4px;">{{posts.User.nick}}</span>
				{% if posts.UserId === user.id %}
			<form action="/delete/post/{{posts.id}}" method="post" style="display:inline; position:relative; float:right; right:40px;padding-top:5px;">
				<button class="btn7" type="submit" style="font-size:1em; border:none; background-color:inherit;">
						<i class="fas fa-trash-alt" style="color:#828282;"></i>
				</button>
				</form>
		<a href="/update/{{posts.id}}" style="display:inline; position:relative; float:right; right:40px;padding-top:5px;">
				<button class="btn7" type="submit" style="font-size:1em; border:none; background-color:inherit;">
						<i class="far fa-edit" style="color:#828282;"></i>
				</button>
				</a>
				
			{% endif %}
			{% if posts.UserId !== user.id %}
				<form action="" method="" style="display:inline; position:relative; float:right; right:40px;padding-top:5px;">
					<button type="submit" class="btn7" style="font-size:1em; border:none;  background-color:inherit;">
						<i class="far fa-paper-plane" style="color:#828282;"></i>
				</button>
				</form>
			{% endif %}
			
			
	
	</div>
		<div class="writenTime" style="padding: 5px;">			
		{{posts.createdAt.getFullYear()}}년
		{{posts.createdAt.getMonth()+1}}월
		{{posts.createdAt.getDate()}}일
		{{posts.createdAt.getHours()+9}}시
		{{posts.createdAt.getMinutes()}}분
		{{posts.createdAt.getSeconds()}}초
		</div>
			</div>

	{% if posts.img %}
    <div class="write-img">
        <img onclick="location.href='/imageView/{{posts.img}}';" src="{{posts.img}}"/>
    </div>
    {% endif %} 
    <div class="write-title">
        {{posts.title}}
	</div>
	<div class="write-content">
        {{posts.content}}
    </div>
	<div style="text-align:center;background-color:#fffcfc;height: 30px;
    padding-top: 10px;">
		
		<form action="/post/post/like/{{posts.id}}" method="post" style="display:inline;">
		<button class="btn6" id="postLike" style="color:#6EDCDC;background-color:#fffcfc;" type="submit" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{posts.like}}
		</button>
		</form>
		
		<form action="/post/post/dislike/{{posts.id}}" method="post" style="display:inline;">
		<button class="btn6" id="postdisLike" style="color:#FF4646;background-color:#fffcfc;" type="submit" >
		<i class="fas fa-thumbs-down"></i>
		{{posts.dislike}}
		</button>
		</form>
		<button class="btn6" style="color:#8c8c8c;background-color:#fffcfc;" style="display:inline;">
		<i class="far fa-comment"></i>
			{{comments.length}}
		</button>
	</div>
</div>






<form action="/post/comment" method="post"  >
			<input type="hidden" name="Pid" value="{{posts.id}}" >
			<input  id="Wcomment"name="content" placeholder="댓글을 입력하세요."  maxlength="500" style="display:inline;margin-bottom:10px;" required>
	
			<button class="btn6" type="submit"  style="display:inline; width:16%; height:50px; margin-top :5px;color:#828282;">
				<i class="far fa-comment"></i> 작성
			</button>
</form>

{% for comment in comments %}
	 <div class="write-content comment">
		 <div class="writenHead" style="border:none;">
		<img  onclick="location.href='/imageView/{{comment.User.profile}}';" src="/{{comment.User.profile}}" style="width:30px; height:30px;border-radius:50px;">	
		<span style="padding-left:4px;">{{comment.User.nick}}</span>
				{% if comment.UserId === user.id %}
			<form action="/delete/comment/{{comment.id}}" method="post" style="display:inline; position:relative; float:right; right:40px;">
				<input type="hidden" name="Pid" value="{{posts.id}}">
				<button class="btn7" type="submit" style="width:20%;font-size:1em; border:none;">
						<i class="fas fa-trash-alt" style="color:#828282;"></i>
				</button>
				</form>
			 
			{% endif %}
			{% if comment.UserId !== user.id %}
				<form action="" method="" style="display:inline; position:relative; float:right; right:40px; ">
					<button type="submit" class="btn7" style="font-size:1em; border:none;">
						<i class="far fa-paper-plane" style="color:#828282;"></i>
				</button>
				</form>
			{% endif %}
		 		
		 
		 <div class="writenTime" style="padding: 5px;">			
		{{comment.createdAt.getFullYear()}}년
		{{comment.createdAt.getMonth()+1}}월
		{{comment.createdAt.getDate()}}일
		{{comment.createdAt.getHours()+9}}시
		{{comment.createdAt.getMinutes()}}분
		{{comment.createdAt.getSeconds()}}초
		</div>
		 <div class="write-content">
			{{comment.content}}	
		</div>
		<form action="/post/comment/like/{{posts.id}}" method="post" style="display:inline;">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#6EDCDC;" type="submit" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{comment.like}}
		</button>
		</form>
		<form action="/post/comment/dislike/{{posts.id}}" method="post" style="display:inline;">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#FF4646;" type="submit">
		<i class="fas fa-thumbs-down"></i>
		{{comment.dislike}}
		</button>
		</form>
			
		 </div>
	</div>
{% endfor %}













<div class="push">
</div>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color:#FF5675"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2" style="color:#FF5675">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a href="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
{% endblock %} {% block script %} 

{% endblock %}