{% extends 'layout.html' %} {% block content %}
<header>
    <img src="/manito.svg" id="hdImg" />
    <div id="hdFont">
        마니또
    </div>
    <i class="far fa-bell" style=" vertical-align: middle; color: black; float: right; padding: 20px 20px;"></i>
</header>
<br>
	<div class="writen">
	<div class="writenHead">
    {% if posts.User.sexual==='man' %}
		<i class="fas fa-mars btn5" style="color:blue; background-color:white;"></i>
	{% else %}
		<i class="fas fa-venus btn5" style="color:red; background-color:white;" ></i>
	{% endif %}
		&nbsp;
		{{posts.User.nick}}
		
		<label for="toggle" style="position:absolute; right:5%; background-color:white;border:1px solid #a79c8e; border-radius:40%;"><i class="fas fa-ellipsis-v"></i></label>
		<input type="checkbox" id="toggle" >
		<ul id="menu">
			{% if posts.UserId === user.id %}
			<li><form action="/delete/post/{{posts.id}}" method="post">
					<button type="submit">
						글 삭제하기
				</button>
				</form></li>
			{% endif %}
			{% if posts.UserId !== user.id %}
				<li><form action="" method="">
					<button type="submit">
						메시지 보내기
				</button>
				</form></li>
			{% endif %}
		</ul>
		
	</div>
		<div class="writenTime">			
		{{posts.createdAt.getFullYear()}}년
		{{posts.createdAt.getMonth()+1}}월
		{{posts.createdAt.getDate()}}일
		{{posts.createdAt.getHours()+9}}시
		{{posts.createdAt.getMinutes()}}분
		{{posts.createdAt.getSeconds()}}초
		</div>
	<div class="write-title">
        {{posts.title}}
	</div>
	{% if posts.img %}
    <div class="write-img">
        <img src="{{posts.img}}"/>
    </div>
    {% endif %} 
    <div class="write-content">
        {{posts.content}}
    </div>
	<div style="text-align:center">
		
		<form action="/post/post/like/{{posts.id}}" method="post">
		<button class="btn6" style="color:#6EDCDC;" type="submit" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{posts.like}}
		</button>
		</form>
		
		<form action="/post/post/dislike/{{posts.id}}" method="post">
		<button class="btn6" style="color:#FF4646;" type="submit" >
		<i class="fas fa-thumbs-down"></i>
		{{posts.dislike}}
		</button>
		</form>
		
		<button class="btn6" style="color:#FF87D2" >
		<i class="far fa-comment"></i>
			{{comments.length}}
		</button>
	</div>
</div>	
<form action="/post/comment" method="post">
			<input type="hidden" name="Pid" value="{{posts.id}}" >
			<input  id="Wcomment"name="content" placeholder="댓글을 입력하세요."  maxlength="140" required>
			<button type="submit" class="btn6" >
				<div>
					<img src="/tree.svg" style="width:30px;">
					작성
				</div>
			</button>
		</form>
{% for comment in comments %}
	 <div class="write-content">
		 <div class="writenHead">
		  {% if comment.User.sexual==='man' %}
		<i class="fas fa-mars btn5" style="color:blue; background-color:white;"></i>
	{% else %}
		<i class="fas fa-venus btn5" style="color:red; background-color:white;" ></i>
	{% endif %}
		&nbsp;
		{{comment.User.nick}}
			 <label for="toggle2" class ="btn6" style=" right:25%; background-color:white;border:1px solid #a79c8e; border-radius:40%;"><i class="fas fa-ellipsis-v"></i></label>
		<input type="checkbox" id="toggle2" >
		<ul id="menu2">
			{% if comment.UserId === user.id %}
			<li><form action="/delete/comment/{{comment.id}}" method="post">
				<input type="hidden" name="Pid" value="{{posts.id}}" >
				<button type="submit">
						글 삭제하기
				</button>
				</form></li>
			{% endif %}
			{% if comment.UserId !== user.id %}
				<li><form action="" method="">
					<button type="submit">
						메시지 보내기
				</button>
				</form></li>
			{% endif %}
		</ul>
		 </div>
		 		
		 
		 <div class="writenTime">			
		{{comment.createdAt.getFullYear()}}년
		{{comment.createdAt.getMonth()+1}}월
		{{comment.createdAt.getDate()}}일
		{{comment.createdAt.getHours()+9}}시
		{{comment.createdAt.getMinutes()}}분
		{{comment.createdAt.getSeconds()}}초
		</div>
		 <div>
			{{comment.content}}	
		<form action="/post/comment/like/{{posts.id}}" method="post">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#6EDCDC;" type="submit" >
		<i class="fas fa-thumbs-up" style="color:#6EDCDC;"></i>
		{{comment.like}}
		</button>
		</form>
		<form action="/post/comment/dislike/{{posts.id}}" method="post">
		<input type="hidden" name="Cid" value="{{comment.id}}" >
		<button class="btn6" style="color:#FF4646;" type="submit">
		<i class="fas fa-thumbs-down"></i>
		{{comment.dislike}}
		</button>
		</form>
			
		 </div>
	</div>
{% endfor %}


<wrap>
<footer>
    <table>
        <tr>
            <td class="footerTd">
                <a href="/main">
                    <i class="fas fa-clipboard-list fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat">
                    <i class="fas fa-envelope fa-2x" style="color:#b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game">
                    <i class="fas fa-gamepad fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/school">
                    <i class="fas fa-school fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting">
                    <i class="fas fa-cogs fa-2x" style="color: #b4b4b4"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td class="footerTd">
                <a href="/main" class="btn2">
                    게시판
                </a>
            </td>
            <td class="footerTd">
                <a href="/chat" class="btn2">
                    채팅
                </a>
            </td>
            <td class="footerTd">
                <a hreft="/game" class="btn2">
                    게임
                </a>
            </td>
            <td class="footerTd">
                <a href="/school" class="btn2">
                    학급정보
                </a>
            </td>
            <td class="footerTd">
                <a href="/setting" class="btn2">
                    설정
                </a>
            </td>
        </tr>
    </table>
</footer>
</wrap>
{% endblock %} {% block script %} {% endblock %}